@import "tailwindcss";

@theme {
        --color-background: #e9e0d1;
        --color-secondary: #91a398;
        --color-primary: #33605a;
        --color-text: #070001;
        --color-accent: #68462b;    
}
